.customer-section {
    text-align: center;
    padding: 40px;
    padding-bottom: 110px;
    background: #fff;
  }
  
  h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .logo-slider {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    width: 100%;
    padding-top: 50px;
  }
  
  .logo-track {
    display: flex;
    gap: 40px;
    animation: slide 20s linear infinite;
  }
  
  .logo {
    width: 210px;
    height: 90px;
    display: inline-block;
  }
  
  @keyframes slide {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-50%);
    }
  }
  