.footer {
  background: linear-gradient(100deg, #ffffff, #b9afdc);
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    padding: 80px 80px;
  }
  
  .footer-left {
    flex: 2;
    text-align: left;
  }
  
  .footer-logo {
    height: 80px;
    margin-bottom: 20px;
  }
  
  .footer-description {
    font-size: 14px;
    line-height: 1.6;
    color: #333;
  }

  /* Footer Social Icons */

  .footer-social {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
  }

  .footer-center,
  .footer-right {
    flex: 1;
    text-align: left;
    padding-left: 40px;
  }
  
  .footer-title {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
    border-bottom: 3px solid #6697fa;
    display: inline-block;
  }
  
  .footer-links {
    list-style: none;
    padding: 40px 0px;
    margin: 0;
  }
  
  .footer-links li {
    margin-bottom: 8px;
    font-size: 14px;
    color: #555;
  }
  
  .footer-contact {
    font-size: 14px;
    line-height: 1.6;
    color: #555;
    padding: 30px 0px 0px 0px;
  }
  
  .footer-contact a {
    color: #4d8cec;
    text-decoration: none;
  }
  
  /* Bottom Footer Section */
  .footer-bottom {
    background-color: #17274d; /* Dark navy background */
    color: #ffffff;
    padding: 10px 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  
  .footer-bottom p {
    margin: 0;
    font-size: 14px;
    flex-grow: 1;
    text-align: center; /* Center-align the text */
  }
  
  .whatsapp-button img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    cursor: pointer;
    transition: transform 0.3s;
  }
  
  .whatsapp-button img:hover {
    transform: scale(1.2);
  }
  